
python-certifi-win32

numpy
pandas

jupyter
ipykernel

fastapi
pymysql
python-multipart

python-dotenv
requests
tiktoken

google-genai
anthropic

chromadb

pdfplumber
python-docx
beautifulsoup4
docx2txt

pydantic
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma 
langchain-text-splitters
langchain-anthropic
rank-bm25

langgraph

requests
sse-starlette

PyJWT
cryptography
httpx

langsmith

langgraph