
python-certifi-win32

numpy
pandas
matplotlib
scikit-learn
jupyter
ipykernel

sentence-transformers


openai
python-dotenv
requests
tiktoken

google-genai
anthropic

faiss-cpu
chromadb
qdrant-client

pypdf
pdfplumber
python-docx
beautifulsoup4
docx2txt

pydantic
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma 
langchain-text-splitters
langchain-anthropic
rank-bm25

langgraph

requests
sse-starlette

PyJWT
cryptography
httpx

langsmith
